<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task</title>
    <script>
        function printSharps(k) {
            var sharp = "#"

            for (var i = 0; i < k; i = i + 1) {
                document.write(sharp + "<br>")
                sharp = sharp + "#"
            }
        }

        printSharps(100)
    </script>
</head>

<body>

</body>

</html>