<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск уникальных значений массива и вывод количества</title>
</head>

<script>
    var names = ['Игорь', 'Ваня', 'Хани', 'Анастасия', 'Игорь', 'Соул', 'Хани', 'Игорь', 'Игорь', 'Хани', 'Соул', 'Дженнифер', 'Александр Македонский', 'Леха из третьего подъезда', 'Анастасия']

    var searcUniqNames = function(names) {
        var uniqNames = []

        //проходим массив names
        for (var i = 0; i < names.length; i++) {
            //говорим, что i-ое имя уникально
            isNameUniq = true

            //проходим массив уникальных имен uniqNames
            for (var j = 0; j < uniqNames.length; j++) {
                if (names[i] == uniqNames[j]) {
                    //говорим, что i-ое имя не уникально, 
                    //если оно уже есть массиве уникальных имен
                    isNameUniq = false
                }
            }
            //если i-ое имя уникально добавляем его в массив уникальных имен
            if (isNameUniq) {
                uniqNames.push(names[i])
            }
        }

        return uniqNames
    }

    var countNames = function(uniqNames, names) {
        //проходим массив уникальных имен
        for (var i = 0; i < uniqNames.length; i++) {
            let count = 0

            //проходим массив имен
            for (var j = 0; j < names.length; j++) {
                if (names[j] == uniqNames[i]) {
                    //если нашли повторение, увеличиваем счетчик
                    count++
                }
            }

            console.log(uniqNames[i] + " - " + count)
            count = 0;
        }
    }

    // запускаем функции
    countNames(searcUniqNames(names), names)
</script>

<body>
    ИМЕНА
</body>

</html>