/*
// Цвета 
//TODO добавть описание цветов
*/

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    height: 100%;
}

.main-grid-row {
    width: 90%;
    display: inline-block;
    background-color: #F0F0F0;
    margin: 0 5%;
    padding: 0;
    padding-top: 20px;
}

header {
    background-color: #FFB6A3;
    border-bottom: 10px solid #CFCFCF;
    display: inline-block;
    width: 100%;
}

.header__logo {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    min-width: 60px;
}

.header__logo>img {
    width: 100%;
}

.header__text {
    display: inline-block;
    font-size: 36px;
    color: #4D4D4D;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 3px 0 #CFCFCF;
}

.header__menu {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
}

.header__menu_item {
    display: inline-block;
    height: 60px;
    border-left: 2px solid #eea693;
    margin: 3%;
    padding: 2%;
}

.header__menu_item:hover {
    background-color: rgba(207, 207, 207, 0.2);
    border-left: 4px solid #A4E5CE;
}

.column {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    height: 100%;
}

.column__image {
    width: 80%;
}

.column__image-container {
    width: 40%;
    margin: 0 30%;
}

.column__image-title {
    text-align: center;
    border-bottom: 7px solid #CFCFCF;
    width: 72%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 14%;
    margin-left: 14%;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: #4D4D4D;
    border-left: 5px solid #A4E5CE;
    font-size: 24px;
}

.text__content {
    text-align: justify;
    font-size: 18px;
}

.red-letter {
    color: #FFB6A3;
    font-size: 32px;
    font-weight: bold;
}

b {
    color: #4D4D4D;
}