<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
</head>

<body>
    <form>
        <label>
            Логин 
            <input type="text">
        </label>
        <br>
        <input id="password" type="password">
        <label for="password">Пароль</label>
        <br>
        <button type="button">Войти</button>

        <label>
            Я не человек
            <input type="checkbox">
        </label>
    </form>
</body>

</html>