<!DOCTYPE html>
<html>

<head>
    <title>Наша страничка!!!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
					   initial-scale=1,
					   maximum-scale=1">

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="header">
        <div class="header__text">
            Наша страничка
        </div>
    </div>

    <div class="main-grid-row">
        <!-- 
			<div class="column">
				img class="column__image" src="./../static/img/cat.jpg"
			</div> 
		-->

        <div class="column">
            <img class="column__image-container" src="./../static/img/doge.jpg">
            <p class="column__image-title">Это собака</p>
            <p>
                Текст о собаке Текст о собаке Текст о собаке Текст о собаке Текст о собаке Текст о собаке
            </p>
        </div>

        <div class="footer">
        </div>
    </div>
</body>

</html>