<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .information {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        body {
            background-color: wheat;
        }
        
        .address {
            color: brown;
            display: inline-block;
            width: 100%;
        }
        
        .address-content {
            float: right;
        }
    </style>
</head>

<body>
    <!--
    <div class="information">
        <div>
            От: Группа 17
        </div>
        <div>Кому: ДЕДУ</div>
        <div>Куда: Северная деревня</div>
    </div>
    -->

    <div class="address">
        <div class="address-content">
            <div>От: Группа 17
            </div>
            <div>Кому: ДЕДУ</div>
            <div>Куда: Северная деревня</div>
        </div>
    </div>
</body>

</html>