<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SNAKE REVOLUTION</title>

    <style>
        html {
            height: 100%;
        }
        
        body {
            height: 100%;
            overflow-y: hidden;
        }
        
        #canvas {
            background-color: blanchedalmond;
            position: relative;
            top: 50%;
            left: 50%;
            margin-left: -325px;
            margin-top: -325px;
        }
    </style>
</head>

<body>
    <canvas id="canvas" width="650" height="650"></canvas>

    <script>
        canvasWidth = 650
        canvasHeight = 650
        step = 50

        snake = []
        head = {
            x: 300,
            y: 300
        }

        //TODO step = { x: 50, y: 50}
        step = 50

        shift = {
            x: 50,
            y: 50
        }

        //Directions: 'L','R','U','D'
        direction = 'R';

        function moveHead(head) {
            switch (direction) {
                case 'L':
                    shift.x = head.x == 0 ? canvasWidth - step : -step
                    shift.y = 0
                    break;

                case 'R':
                    shift.x = head.x == canvasWidth - step ? -canvasWidth : step
                    shift.y = 0
                    break

                case 'U':
                    shift.x = 0
                    shift.y = head.y == 0 ? canvasHeight : -step
                    break

                case 'D':
                    shift.x = 0
                    shift.y = head.y == canvasHeight - step ? -canvasHeight : step
                    break
            }

            newHead = {
                x: head.x + shift.x,
                y: head.y + shift.y
            }

            return newHead;
        }

        function draw() {
            var canvas = document.getElementById('canvas');
            if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
                ctx.fillRect(head.x, head.y, 50, 50);

                setInterval(function() {
                    ctx.clearRect(head.x, head.y, 50, 50);
                    head = moveHead(head)
                    ctx.fillRect(head.x, head.y, 50, 50);

                }, 1000)
            }
        }

        document.getElementsByTagName("html")[0]
            .addEventListener("keydown", function(event) {
                switch (event.keyCode) {
                    case 37:
                        direction = 'L';
                        break;
                    case 38:
                        direction = 'U';
                        break;
                    case 39:
                        direction = 'R';
                        break;
                    case 40:
                        direction = 'D';
                        break;
                    default:
                        break;
                }
            });
        draw()
    </script>
</body>

</html>