<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SNAKE REVOLUTION</title>

    <style>
        html {
            height: 100%;
        }
        
        body {
            height: 100%;
            overflow-y: hidden;
        }
        
        #canvas {
            background-color: blanchedalmond;
            position: relative;
            top: 50%;
            left: 50%;
            margin-left: -325px;
            margin-top: -325px;
        }
    </style>
</head>

<body>
    <canvas id="canvas" width="650" height="650"></canvas>

    <script>
        canvasWidth = 650
        canvasHeight = 650
        step = 50

        snake = [{
            x: 300,
            y: 300
        }, {
            x: 250,
            y: 300
        }, {
            x: 200,
            y: 300
        }]

        //TODO step = { x: 50, y: 50}
        step = 50

        shift = {
            x: 50,
            y: 50
        }

        //Directions: 'L','R','U','D'
        direction = 'R';

        function moveHead(head) {
            switch (direction) {
                case 'L':
                    shift.x = head.x == 0 ? canvasWidth - step : -step
                    shift.y = 0
                    break;

                case 'R':
                    shift.x = head.x == canvasWidth - step ? -canvasWidth + step : step
                    shift.y = 0
                    break

                case 'U':
                    shift.x = 0
                    shift.y = head.y == 0 ? canvasHeight - step : -step
                    break

                case 'D':
                    shift.x = 0
                    shift.y = head.y == canvasHeight - step ? -canvasHeight + step : step
                    break
            }

            newHead = {
                x: head.x + shift.x,
                y: head.y + shift.y
            }

            return newHead;
        }

        function isSnakeSuicided(headLocation, snakeArray) {
            var isSuicideCommmited = false
            for (var i = 1; i < snakeArray.length; i++) {
                if (headLocation.x == snakeArray[i].x) {
                    if ((headLocation.y == snakeArray[i].y)) {
                        isSuicideCommmited = true
                    }
                }
            }

            return isSuicideCommmited
        }

        function initSnake() {
            var canvas = document.getElementById('canvas');

            if (canvas.getContext) {
                var ctx = canvas.getContext('2d');

                ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';

                snake.forEach(element => {
                    ctx.fillRect(element.x, element.y, 50, 50);
                });

                var gameIntervalId = setInterval(function() {
                    var head = moveHead(snake[0]),
                        tail = snake.pop()

                    snake.unshift(head)

                    ctx.clearRect(tail.x, tail.y, 50, 50);
                    ctx.fillRect(head.x, head.y, 50, 50);

                    console.log(isSnakeSuicided(head, snake))
                    if (isSnakeSuicided(head, snake))
                        clearInterval(gameIntervalId)
                }, 1000)
            }
        }

        document.getElementsByTagName("html")[0]
            .addEventListener("keydown", function(event) {
                switch (event.keyCode) {
                    case 37:
                        if (direction != 'R')
                            direction = 'L';
                        break;
                    case 38:
                        if (direction != 'D')
                            direction = 'U';
                        break;
                    case 39:
                        if (direction != 'L')
                            direction = 'R';
                        break;
                    case 40:
                        if (direction != 'U')
                            direction = 'D';
                        break;
                    default:
                        break;
                }
            });

        initSnake()
    </script>
</body>

</html>