<!DOCTYPE html>
<html>

<head>
    <title>Наша страничка!!!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
					   initial-scale=1,
					   maximum-scale=1">

    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="./../static/img/pancake.png">
        </div>
        <div class="header__text">
            Pancake
        </div>
        <nav class="header__menu">
            <div class="header__menu_item">
                Блинчик
            </div>
            <div class="header__menu_item">
                Блинчик
            </div>
            <div class="header__menu_item">
                Блинчик
            </div>
            <div class="header__menu_item">
                Блинчик
            </div>
        </nav>
    </header>

    <div class="main-grid-row">
        <div class="column">
            <div>
                <h2>
                    Популярная в наше время пословица "Первый блин комом" может "рассказать" об истории этого блюда еще лучше.
                </h2>
                <div class="text__content">
                    <p>
                        <span class="red-letter">Д</span>о появления Масленицы еще не принявшая христианство Русь весело и шумно отмечала другой праздник - Комоедицу. Комами в древней Руси называли <b>медведей</b>, а торжество, длившееся целых две недели,
                        было посвящено пробуждению дикого зверя после длительной зимней спячки. Блины были одним из даров проснувшемуся медведю, их пекли рано утром и относили прямо к берлоге. Тогда и появилась пословица "Первый блин - комАм". Последнее
                        слово со временем трансформировалось. С принятием христианства на Руси появились собственные масленичные традиции, одна из них гласила - первый блин должен был готовиться "за упокой усопших родственников". Согласно этимологии,
                        "ком" в то время означал горечь от утраты. Говорили, что первые блины вставали "комом в горле". Современное значение пословицы всем хорошо известно, а неудача в приготовлении первого блина и превращение его в ком теста - действительно
                        имеют место быть. Причины на то могут быть разные: плохо разогретая или недостаточно смазанная сковорода, сильный или слишком слабый огонь или же неправильная консистенция закваски. Наши предки с такими проблемами не сталкивались,
                        создание блинов было четким и отлаженным процессом. Блинчики - история происхождения блюдаБлины в то время готовились преимущественно из гречневой муки, такой ингредиент в основе теста обеспечивал приятный и слегка кислый вкус.
                        Тесто замешивалось на дрожжах, молоке и воде (жидкости добавлялись постепенно, этапами).
                    </p>
                    <p>
                        <span class="red-letter">Б</span>лины получались пышные и немного рыхлые. Пекли блины на печи, которую топили исключительно мелкими березовыми дровами. В качестве инструмента выступали сваренные друг с другом чугунные сковородки
                        - такая конструкция была залогом равномерно пропеченного блинчика. К встрече с тестом сковороду тщательно подготавливали - посыпали солью и прокаливали, а затем протирали сухой тряпкой и смазывали несоленым салом. Как вы понимаете,
                        при таких условиях первый блин просто не мог быть неудачным "комом". как готовили первые блинчики и почему блин комомНачинять блины было принято грибами, капустой, маслом, селедкой, творогом и другими простыми продуктами. Согласно
                        одному из недавних исследований, сейчас наибольшей популярностью пользуются мясные и овощные начинки, сладкие же им в этом вопросе сильно уступают. Практически утратила силу давняя традиция приготовления блина с припеком. А ведь
                        когда-то это был настоящий гастрономический изыск! На верхнюю часть выпекаемого блина выкладывалась начинка, например, творог или мясной фарш, после чего блин "запечатывался" верхним слоем теста. Другой способ приготовления: на
                        сковороду сначала выкладывались продукты, которые заливались тестом - в итоге образовывалась красивая поджаристая корочка. Блинчик с маракуйейСейчас вопроса, с чем лучше есть блины, перед российскими гурманами не возникает. Да
                        с чем угодно! С сыром и ветчиной, с красной рыбой, с курицей и грибами - список продуктовых паззлов безграничен. А вот любители румяной выпечки из Европы и Америки в этом вопросе куда более традиционны. Американцы ни на что не
                        променяют любимые панкейки с кленовым сиропом, французы - крепы, испанцы - блины из кукурузной муки. Интересны и оригинальны традиции азиатских стран. В Китае в блинное тесто добавляют репчатый лук, на Ямайке их готовят из муки
                        корня маниоки, во Вьетнаме - из смеси кукурузной муки, сахара, кокосового молока и клубня растения таро. Мы решили порадовать вас подборкой 6 различных вариаций блинов. Кликайте на фото и переходите в галерею необычных "блинных
                        рецептов".
                    </p>
                </div>
            </div>
        </div>

        <div class="footer">
        </div>
    </div>
</body>

</html>